<section class="aboutme">
  <h1>Qui suis-je ?</h1>
  <img src="assets/moi.png" alt="Mariane Audo">
  <mat-card class="card">
    <mat-card-content class="content">
      De formation initiale en chimie des matériaux, j'ai récemment choisi de réorienter ma carrière professionnelle
      dans le monde du développement informatique. Pourquoi ce domaine ? Tout simplement parce qu'il me permet permet
      d'allier technicité, réflexion et logique ! Après une
      première formation de trois mois de développeur JAVA/JEE, la situation sanitaire actuelle m'a obligée à mettre mes
      projets en stand-by. Dans l'attente de trouver une nouvelle opportunité professionnelle, je profite du confinement
      pour mettre à jour et développer de nouvelles compétences en auto-formation.
    </mat-card-content>
    <mat-card-content class="content">
      Sur le plan personnel, mes passions sont variées. J'occupe une grande partie de mon temps libre à faire du <a
        href="www.geocaching.com">Géocaching</a>, sorte de chasse aux trésor géante, nécessitant réflexion et permettant
      de partir à la découverte du patrimoine. Je suis également passionnée de cinéma, de danse bretonne et de jeux de
      sociétés, auxquels je joue régulièrement au sein de l'association <a href="https://arennesdesjeux.fr/l-association">"A-Rennes
        Des Jeux"</a> !
    </mat-card-content>
  </mat-card>
</section>
