@media screen and (min-width: 780px) {
  .card {
    width: 700px;
    margin: 10px;
    text-align: center;
  }


.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  width: 100vw;
  padding-top: 15px;
  }
}

@media screen and (min-width: 570px) and (max-width: 780px) {
  .card {
    width: 500px;
    margin: 10px;
    text-align: center;
  }

  .aboutme {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    }
}

@media screen and (max-width: 570px) {
  .card {
    width: 300px;
    margin: 10px;
    text-align: center;
  }

  .aboutme {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    }
}

.title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content {
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
}

img {
  border: solid 4px white;
  border-radius: 10%;
}
