<section class="exp">
  <div class="isLoading">
    <div *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div *ngIf="!isLoading" class="experiences">
    <div *ngFor="let experience of experiences">
      <mat-card class="card">
        <mat-card-title class="title">
          {{ experience.name }}
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
          {{ experience.company }} - {{ experience.beginningDate.seconds * 1000 | date: 'MMMM yyyy' | titlecase}} -
          {{ experience.duration }} mois
        </mat-card-subtitle>
        <img class="logo" [src]="experience.logo">
        <mat-card-content class="content">
          {{ experience.content }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
