@media screen and (min-width: 700px) and (max-width: 2000px) {
  mat-form-field {
    width: 600px;
  }

  mat-card {
    width: 700px;
  }
}

@media screen and (max-width: 700px) {
  mat-form-field {
    width: 300px;
  }

  mat-card {
    width: 400px;
  }
}

@media screen and (min-width: 2000px) {
  mat-form-field {
    width: 900px;
  }

  mat-card {
    width: 1000px;
  }
}

.contact-form {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  padding-bottom: 5px;
}
