@media screen and (min-width: 700px) {

  mat-form-field {
    width: 600px;
  }

}

@media screen and (max-width: 700px) {

  mat-form-field {
    width: 300px;
  }

}

.contact {
  justify-content: center;
}

.card {
  margin: 10px;
}

.title {
  text-align: center;
  padding-bottom: 5px;
}

.content {
  text-align: left;
}

.nav-caption {
  padding-left: 5px;
  display: inline-block;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
