@media screen and (min-width: 2000px) {
  .skills {
    height: 90vh;
  }
}

.skillsglobal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 90vh;
  text-align: center;
  }

.skills {
  display: flex;
  flex-direction: column;
}

.back-end, .front-end, .divers {
  padding-top: 10px;
}

.front-endcard, .back-endcard, .diverscard {
  display: inline-block;
}

.title, .content, h1 {
  text-align: center;
}

.logo {
  width: 50%;
  height: 50%;
  padding-bottom: 10px;
}

.categoryTitle {
  font-size: 25px;
}

.category {
  display: flex;
  flex-direction: column;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
