mat-sidenav-container {
  display: block;
  position: relative;
  color: #fafaff;
  height: 100vh;
}

mat-sidenav-content {
  padding-top: 20px;
}

mat-sidenav-container::after {
  content: "";
  background-image: url("../assets/renzler-power-down.gif");
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

mat-sidenav {
  width: 200px;
}

