<section class="home">
  <div class="global">
    <h1>Mariane AUDO</h1>
    <h2>Développeur Junior</h2>
    <h2>JAVA / JEE / Angular</h2>
    <h3>Basée à Rennes (35)</h3>
    <a
      class="linkedin"
      href="https://www.linkedin.com/in/mariane-audo-07954041/?originalSubdomain=fr"
      target="_blank"
      ><img class="icone" src="assets/linkedin.png"
    /></a>
    <a href="https://github.com/marianeaudo" target="_blank"
      ><img class="icone" src="assets/github.png"
    /></a>
    <div class="copyright">© Mariane Audo 2021</div>
  </div>
</section>
